*{
    font-family: 'Montserrat', sans-serif;
    border: 0;
    padding: 0;
    margin: 0;
 
}
body{
    background-color: #d3f0e4;
}
.slider{
    height: 50%;
    width: 100%;
}
.sub-title{
    color: coral;
}

.free-shipping i{
    color: coral;
}
.mt-4 i{
    color: coral;
}
.card i{
    color: coral;
    align-items: center;
}
.sr{
    width: 100%;
}
.card-header h4{
    color: coral;
    font-weight: 600;
}
.card-text{
    font-weight: 500;
}
.sub-head{
    font-weight: 700;
}

.btn-headline{
   margin-left: 800px; 
   background-color: coral;
   border-radius: 4px;
   width: 80px;

   
}
.btn-success{
    border-radius: 4px;
    height: 50px;
    width: 150px;
    background-color: coral;
}
.banner .btn-success{
    color: white;
    font-weight: 600;
}
.btn-headline-banner{
    height: 50px;
    width: 130px;
    margin-left: 740px; 
    background-color: coral;
    border-radius: 4px;
}
.navbar:hover {
    color: coral;
    text-decoration: underline;
    background-color: d3f0e4;
}

.btn-headline-banner{
    color: white;
    font-weight: 600;
}