*{
    font-family: 'Montserrat', sans-serif;
    border: 0;
    padding: 0;
    margin: 0;
}
.slider{
    height: 50%;
    width: 100%;
}
.sub-title{
    color: coral;
}

.free-shipping i{
    color: coral;
}
.mt-4 i{
    color: coral;
}
.card i{
    color: coral;
    align-items: center;
}
.sr{
    width: 100%;
}
.card-header h4{
    color: coral;
    font-weight: 600;
}
.card-text{
    font-weight: 500;
}
.sub-head{
    font-weight: 700;
}
.btn .btn-denger{
    color: coral;
}
.banner{
    
}