*{
    font-family: 'Montserrat', sans-serif;
    border: 0;
    padding: 0;
    margin: 0;
}
.slider{
    height: 50%;
    width: 100%;
}
.sub-title{
    color: green;
}

.free-shipping i{
    color: forestgreen;
}
.mt-4 i{
    color: forestgreen;
}
.card i{
    color: forestgreen;
    align-items: center;
}
.sr{
    width: 100%;
}