* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    overflow-x: hidden;
}

.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.3)), url("../image/banner.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

nav {
    padding: 20px 7% !important;
}

nav .menu > i {
    display: none;
    font-size: 2rem;
    color: white;
    position: absolute;
    top: 5%;
    right: 5%;
    z-index: 5;
}

.nav-links li {
    position: relative;
}

.nav-links li::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 20%;
    border: 1px solid gray;
    transition: all ease-out 200ms;
}

.nav-links li:hover::after{
    width: 100%;
}

.logo {
    width: 140px;
}

.header h1 {
    font-weight: 500;
    font-size: 4vw;
    margin-top: 22%;
}

.search-box {
    width: 85%;
    margin: 30px auto;
    padding: 6px 10px 6px 30px;
    border-radius: 50px;
}

.search-box form button {
    background-color: #ff5861;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

/* Exclusive */

.sub-title {
    margin: 50px 0px 20px;
    font-size: 1.6rem;
    font-weight: 500;
    color: #333;
}

.exclusive > div > div > div {
    position: relative;
}

.exclusive > div > div > div:hover span {
    opacity: 1;
    width: calc(100% - 1.5rem);
    background-color: rgba(51, 51, 51, 0.8);
}

.exclusive > div > div span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 1.5rem);
    background-color: rgba(51, 51, 51, 0.6);
    opacity: 0;
    transition: all ease-in-out 300ms;
}

.exclusive div img {
    height: 130px;
}

/* trending */

.trending div img {
    height: 100%;
}

/* cta */

.cta {
    padding: 5%;
    background-image: linear-gradient(90deg, rgb(255, 216, 202), transparent), url("../image/banner-2.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.cta a {
    padding: 12px 30px;
}

/* stories */

.story {
    position: relative;
}

.story p {
    position: absolute;
    top: 100%;
    left: 50%;
    padding: 2rem 1rem;
    width: calc(100% - 1.5rem);
    transform: translate(-50%, -115%);
    background-color: rgba(51, 51, 51, 0.6);
    opacity: 0;
    transition: all ease-in-out 500ms;
}

.story img {
    transition: all ease-in-out 300ms;
}

.story:hover p {
    opacity: 1;
}

.story:hover img {
    box-shadow: 0px 0px 6px gray;
}

/* footer */

.footer {
    background-image: linear-gradient(160deg, transparent, gray, gray, transparent), url("../image/image-s2.png");
}

.footer .socials i {
    font-size: 32px;
    padding: .5rem;
    color: #333;
}

/* small devices */

@media (max-width: 700px) {
    .search-box form button {
        transform: translateY(80%);
    }
    /* .logo {
        position: absolute;
        top: 4%;
        left: 7%;
        z-index: 5;
    }

    nav {
        position: absolute;
        top: 0;
        background-image: linear-gradient(160deg, transparent, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7), transparent);
        width: 100%;
        padding: 100px 7% 25px !important;
        text-align: right;
        box-shadow: 0px 0px 4px black;
        max-height: 100px;
        transition: all ease-in-out 300ms;
    }

    nav .menu > i {
        display: block;
        cursor: pointer;
    }

    nav .nav-links {
        flex-direction: column !important;
        z-index: 5;
    }

    nav .nav-links li {
        display: block;
        margin: 15px 0 30px;
    }

    nav .btn {
        z-index: 5;
    }
    
    .hide {
        max-height: 400px;
    } */
}